.logo img {
    max-width: 150px;
}

#writing {
    font-size: 1.2em;

    a {
        color: black;
        text-decoration: none;
    }
}

#testimonial img {
    max-width: 100px;
}

#testimonial {
    button {
        color: $primary-color;
    }

    .owl-dots span { 
        border-color: $primary-color;
    }
}

.white-text {
    color: white;
}

.hidden {
    visibility: hidden;
}